body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.gridLayout {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 12rem 4rem 24rem 8rem;
  grid-template-areas:
    'header header'
    'nav nav'
    'main aside'
    'footer footer';
}

header {
  background-color: lightblue;
  grid-area: header;
}

nav {
  background-color: lightcoral;
  grid-area: nav;
}

main {
  background-color: lightskyblue;
  grid-area: main;
}

aside {
  background-color: lightgreen;
  grid-area: aside;
}

footer {
  background-color: lightpink;
  grid-area: footer;
}

@media (max-width: 600px) {
  .gridLayout {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 12rem 24rem 16rem 8rem;
    grid-template-areas:
      'nav'
      'header'
      'main'
      'aside'
      'footer';
  }
}
